body {
    background-color: #d7253d56;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    animation: fadeInOpacity .3s ease-out;
    animation-fill-mode: backwards;
    animation-delay: .1s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #D7253D;
    margin: 15vh;
    border: 3px solid black;
    overflow: hidden;
    border-top-left-radius: 85% 15%;
    border-top-right-radius: 300% 25%;
    border-bottom-left-radius: 15% 60%;
    border-bottom-right-radius: 15% 60%;
    box-shadow: 20px 25px 8px -10px rgba(0, 0, 0, 0.3);
}

header {
    width: 100%;
    display: flex;
    height: 100px;
    align-items: flex-end;
    justify-content: center;
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    height: 40%;
    margin: 3px;
}

.pokedex {
    display: flex;
    gap: 10px;
    padding: 15px 15px 0 15px;
}

.arrow {
    margin: auto;
    width: 0px; 
    height: 0px; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 25px solid rgba(255, 255, 0, 0.7);
}

.sep {
    margin: auto;
    height: 10vh;
    border-left: 2px dashed rgba(255, 255, 0, 0.5);
}

footer {
    margin: 10px auto;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 25%;
    background-color: #00000050;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
