.list {
    max-width: 200px;
    display: flex;
    align-items: center;
}

.list .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: gray;
    color: white;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.15s ease-in-out;
}

.list .pokemon:hover {
    transform: scale(1.05);
}

.list .pokemon img{
    width: 30%;
    border-radius: 50%;
}

.list .pokemon span {
    padding-right: 10%;
}

.list .pokemon.active {
    background-color: royalblue;
}