@media (max-width: 680px) {
    body {
        font-size: 15px;
    }

    header {
        height: 80px;
    }

    .pokedex {
        gap: 10px;
    }

    .card-pokemon {
        width: 300px;
    }

    .card-pokemon .card-top {
        padding: 15px 25px 0;
    }

    .card-pokemon .type {
        font-size: 11px;
    }

    .card-pokemon img {
        width: 180px;
        height: 180px;
    }

    .card-pokemon .card-info {
        padding: 50px 20px 20px;
        margin-top: -50px;
    }

    .card-pokemon .card-info h3 {
        font-size: 16px;
    }
    
    .list .pokemon {
        width: 150px;
        min-height: 50px;
    }

    .list .pokemon span {
        padding-right: 5px;
    }

    footer {
    margin: 9px auto;
    height: 15px;
    border-radius: 15px;
    }

    .arrow {
        margin: auto;
        width: 0px; 
        height: 0px; 
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 20px solid yellow;
    }
}

@media (max-width: 550px), (max-height: 600px) {
    body {
        font-size: 12px;
        /* background-position: center 50px; */
    }

    header {
        height: 60px;
    }

    .card-pokemon {
        max-width: 170px;
    }

    .card-pokemon .type {
        font-size: 8px;
        border-radius: 5px;
        padding: 1px 5px;
    }

    .card-pokemon .card-top {
        padding: 10px 10px 0;
    }

    .card-pokemon img {
        width: 100px;
        height: 100px;
        margin-top: -20px;
    }

    .card-pokemon .card-info {
        padding: 25px 5px 5px;
        margin-top: -25px;
    }

    .card-pokemon .card-info h3 {
        font-size: 12px;
    }

    .card-pokemon .card-info .skills ul li, .card-pokemon .card-info .stats ul li {
        border-bottom: 1px solid white;
        padding: 0 0 0;
        margin-bottom: 0;
        font-size: 10px;
    }

    .list .pokemon {
        width: 120px;
        min-height: 30px;
    }

    footer {
    margin: 6px auto;
    height: 10px;
    border-radius: 15px;
    }

    .arrow {
    margin: auto;
    width: 0px; 
    height: 0px; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid yellow;
    }

}

